import { FC, ReactNode } from "react";

type {{ pascalCase name }}Props = {
  children: ReactNode;
  name: string;
}

export const {{ pascalCase name }}:FC <{{ pascalCase name }}Props> = ({ children, name }) => {
  return (
      <div>
        <input type="text" value={name}/>
        {children}
      </div>
  );
};
